.preheader {
  width: 100%;
  display: flex;
  background: black;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.preheader .swiper-container {
  width: 100%;
  background: #7366ff;
  height: 8vh;
}
/* .account-container {
  font-size: 26px;
  width: 15%;
}
.account-container a {
  color: black;
  cursor: pointer;
} */

.preheader .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: black;
  background: linear-gradient(to bottom, #7366ff, rgba(0, 0, 0, 0.4));
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .swiper-slide {
    font-size: 20px !important;
    font-style: italic;
    color: black;
  }
}
