.custom-product .product-name {
  text-decoration: none;
  color: #05262b !important;
  text-transform: capitalize;
}

/* design start */
.zoom-effect-container {
  float: left;
  position: relative;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  overflow: hidden;
}

.image-card {
  position: absolute;
  top: 0;
  left: 0;
}

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* design over */
.actualPrice {
  color: gray;
  margin: 0 0.4rem;
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: 400;
}
.discount {
  font-size: 1rem;
  color: #b4010a;
  font-weight: 400;
}
.custom-product .card-body {
  padding: 8px 4px;
  padding-top: 0;
}
@media screen and (max-width: 800px) {
  .col-6.fine {
    padding: 0 6px;
  }
  .custom-product .card-body {
    padding: 4px 4px;
  }
  .zoom-effect-container2 {
    width: 100%;
    height: 160px;
  }
  .custom-product .custom-card-title {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .actualPrice {
    color: gray;
    margin: 0 0.4rem;
    text-decoration: line-through;
    font-size: 0.85rem;
    font-weight: 400;
  }
  .discount {
    font-size: 0.85rem;
    color: #b4010a;
    font-weight: 400;
  }
  .card-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .zoom-effect-container2 {
    width: 100%;
    height: 190px;
  }
}
@media screen and (max-width: 380px) {
  .zoom-effect-container2 {
    width: 100%;
    height: 130px;
  }
}
