.heroTitle h4 {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #7366ff;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-style: italic;
}

.heroTitle h4 span {
  background: #fff;
  padding: 0 10px;
}
