@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");
main {
  padding-top: 12vh;
  font-family: "Koh Santepheap", sans-serif;
}
html {
  font-family: "Koh Santepheap", sans-serif;
}
.text-justi {
  text-align: justify !important;
}
.btn-ssstore {
  background: #7366ff;
  color: white;
  font-weight: bold;
  width: 100%;
}
.bs-small {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.errors {
  display: none;
}
.list-group-review .d-flex {
  height: 26px;
}
.list-group-review:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-ssstore:hover {
  color: #7366ff;
  background: white;
  border: 2px solid #7366ff;
}
.btn-dark {
  background: black;
  font-weight: 500;
}
.btn-dark:hover {
  color: black;
  background: white;
  border: 2px solid black;
}
.statusbar p {
  margin: 10px 40px;
}
.tag {
  display: inline-block;
  color: white;
  line-height: 0.35;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 1rem;
  background: #25d366;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  animation: sravann 2s infinite;
}

@keyframes sravann {
  0% {
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0);
  }
  80% {
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0.6);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0);
  }
}

.slick-arrow.slick-next::before {
  color: #fd2e64;
  margin-left: -40px;
  font-size: 1.6rem;
}
.slick-slide {
  padding: 6px;
}
.slick-arrow.slick-prev {
  z-index: 1;
}
.slick-arrow.slick-prev::before {
  color: #fd2e64;
  margin-left: 14px;
  font-size: 1.6rem;
}

@media screen and (max-width: 1023px) {
  main {
    padding-top: 20vh !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 1040px) {
  .statusbar p {
    margin: 10px 40px;
  }
}
@media screen and (min-width: 421px) and (max-width: 699px) {
}
@media screen and (max-width: 600px) {
  .statusbar p {
    margin: 10px 12px;
  }
}

/* Logo */

/* 1. Gradient change in pre header section -- done */
/* 2. About us */
/* searching, sorting and filtering -- done */
